body{ 
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh;
}
.header{
    justify-content: space-between;
    display: flex;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.412);
    margin: 30px 200px 0px 200px;
    height: 60px;
    padding: 15px;
    border-radius: 100px;
}
.navlinks{
    list-style: none;
    gap: 25px;
    display: flex;
    margin: 0;
    padding: 20px;
}
.logo{
    padding: 5px;
    transition: 0.3s ease;
}
.navlinks a{
    text-decoration: none;
    position: relative;
    color: rgba(255, 255, 255, 0.684);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navlinks a:hover{
    background-color: rgba(255, 255, 255, 0.686);
    color: rgba(0, 0, 0, 0.679);
    border: 1px ;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s ease;
}
.logo:hover img{
    content: url(logo2.png);
}
.info-slide{
    width: auto;
    margin: 40px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.412);
    border-radius: 40px;
}
.section{
    position: relative;
    display: flex;
    margin: 40px;
    gap: 100px;
}
.section1{
    background-color: rgba(0, 0, 0, 0.412);
    padding-left: 10px;
    height: 450px;
    width: 675px;
    border-radius: 40px;
}
.section2{
    background-color: rgba(0, 0, 0, 0.412);
    padding-right: 10px;
    height: 450px;
    width: 675px;
    border-radius: 40px;
}