body{
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.navlinks{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.navlinks a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;

}
.navlinks a:hover{
transform: scale(1.5);
padding: 1px;
border-radius: 6px;
border: 2px solid rgba(255, 255, 255, 0.647);
background-color: rgba(255, 255, 255, 0.163);
}
nav{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.btns{
    width: 150px;
    border-radius: 10px;
}